/**
 * fil: css/style.css
 **/
body {
    background-color:beige;
}

    h1 {
    text-align: center;
    font-size: 60px;
    font-family: "verdana", sans-serif;
    color: black;
    font-weight: lighter;
    text-shadow: 2px 2px color:gray;
    
    }
    h2 {
    text-align: center;
    font-size: 60px;
    font-family: "verdana", sans-serif;
    color: black;
    font-weight: lighter;
    
    }



.row 

{position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
    left: 16px;}
